body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 175px;
}

.terrain {
	background-color: #fdf4e5;
}

.maison-bleue {
	position: absolute;
	left: 200px;
	margin: 0px;
}

.maison-verte {
	position: absolute;
	top: 40%;
	margin: 0px;
	transform: translate(10px,10px);
}

.maison-rouge {
	margin: 0px;
}